#photo-booth-container {
    width: 500px;
    position: relative;
}

#header img { width: 200px; }

#timer {
    position: absolute;
    top: 25%; left: 50%;
    transform: translate(-50%, -25%);
    white-space: nowrap;
}

#take-photo:hover, #clear-photos:hover, #download-photo-strip:hover { cursor: pointer; }

#clear-photos, #download-photo-strip { display: none; }